<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container d-flex justify-content-between">
            <!-- Link logo and title -->
            <div class="col-3 align-items-center">
                <a class="navbar-brand" href="/">
                    <img src="/assets/images/snowtricks_logo.png" alt="SnowTricks Logo" width="50px" height="50px">
                    <span class="mx-2">SnowTricks</span>
                </a>
            </div><!-- #End Link logo and title -->

            <!-- Toggled Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button><!-- #End Toggled Button -->

            <!-- Hamburger Menu -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 w-100 justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/#tricks_container">Tricks</a>
                    </li>
                    {% if (app.user) %}
                    <!-- Logged_in_user menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-3" href="#" id="compte" data-bs-toggle="dropdown" aria-expanded="true">
                            {{ app.user.username }}
                            <img src="https://picsum.photos/id/256/25/25" class="pl-2 rounded-circle">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="compte" data-bs-popper="none">
                            <li><a class="dropdown-item" href="#create_trick">Créer un trick</a></li>
                            <li><a class="dropdown-item" href="#logout">Déconnexion</a></li>
                        </ul>
                    </li><!-- #End Logged_in_user menu -->
                    {% else %}
                    <!-- Guest menu -->
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Inscription</a>
                    </li><!-- #End Guest menu -->
                    {% endif %}
                </ul>
            </div><!-- #End Hamburger Menu -->
        </div>
    </nav>
    <nav class="navbar navbar-dark fixed-bottom bg-primary">
        <div class="go-top-btn d-none">
            <a href="#homepage" type="button" class="btn rounded-circle btn-links">
                <i class="bi bi-arrow-up-circle-fill"></i>
            </a>
        </div>
        <div class="go-bottom-btn">
            <a href="#tricks_container" type="button" class="btn rounded-circle btn-links">
                <i class="bi bi-arrow-down-circle-fill"></i>
            </a>
        </div>
        <div class="container">
            <ul class="navbar-nav me-auto w-100 flex-row justify-content-between">
                <li class="nav-item m-0 p-2">
                    <a href="/" class="nav-link"><i class="bi bi-house-fill"></i></a>
                </li>
                <li class="nav-item m-0 p-2">
                    <a href="/" class="nav-link"><i class="bi bi-bookmark-fill"></i></a>
                </li>
                {% if (app.user) %}
                <li class="nav-item m-0 p-2">
                    <a href="/" class="nav-link"><i class="bi bi-box-arrow-left"></i></a>
                </li>
                {% else %}
                <li class="nav-item m-0 p-2">
                    <a href="/" class="nav-link"><i class="bi bi-box-arrow-in-right"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>