{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<div class="container mt-4 vh-100">
    <div class="row">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="col-md-8 shadow mt-4 mx-auto p-4">
            <form method="post" class="row g-3">
                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                <div class="form-floating mb-3">
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Pseudo" required autofocus>
                    <label for="inputUsername">Pseudo</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-outline-primary col-3" type="submit">
                    Valider
                </button>
            </form>

            <div class="row text-align-end mt-3 p-3">
                <a href="/reset_password">Mot de passe oublié ?</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
