{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="container mt-4 vh-100">
    <div class="row">
        <div class="col-md-8 shadow mt-4 mx-auto p-4">
            <form method="post" action="/update_password" class="row g-3">
                <h1 class="h3 mb-3 font-weight-normal">Réinitialiser le mot de passe</h1>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <div class="form-floating mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="confirm_password" id="inputConfirmPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    <label for="inputConfirmPassword">Confirmer le mot de passe</label>
                </div>

                <button class="btn btn-outline-primary col-3" type="submit">
                    Valider
                </button>
            </form>
            <div>
                <a href="{{ path('app_home')}}"  class="btn btn-primary float-end">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
