/* General Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin-desktop {
    height: 100px;
}

.btn-links {
    font-size: 1.875rem;
}

/* Homepage Styles */
#homepage {
    width: 100%;
}

#homepage h1,
#homepage p {
    background-color: transparent;
    opacity: 1;
    color: #fff;
}

#homepage .bg-img {
    position: relative;
    opacity: 0.65;
    background-image: url('/assets/images/homepage.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#homepage .bg-img .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #1a1a1a;
    opacity: 0.85;
}

header .navbar.fixed-bottom {
    display: none;
}

img.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: top;
}

#go-top,
#go-bottom {
    width: fit-content;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
    /* General Styles */
    .margin-desktop {
        height: 0;
    }
    header .navbar.fixed-top, footer, .desktop-btn {
        display: none!important;
    }
    header .navbar.fixed-bottom {
        display: block;
    }
    .nav-link {
        font-size: 1.875rem;
    }
    .go-top-btn,
    .go-bottom-btn {
        position: absolute;
        bottom: 100px;
        right: 10px;
    }
    .go-top-btn .btn, .go-top-btn .btn:hover,
    .go-bottom-btn .btn, .go-bottom-btn .btn:hover {
        --bs-btn-color : white;
        --bs-btn-hover-color : white;
        --bs-btn-bg : #1a1a1a;
        --bs-btn-hover-bg : #1a1a1a;
        padding: .5rem;
    }
    /* Homepage Styles */
    #homepage, #homepage .bg-img {
        height: calc(100vh - 132px);
    }

    #tricks_container {
        height: 100vh;
        padding-bottom: 200px;
    }

}