<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Modifier le mot de passe</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid text-center">
                <h1 class="text-white">Snowtricks</h1>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron mt-5">
                <h4 class="display-4">Cliquez sur le lien pour réinitialiser votre mot de passe</h4>
                <p class="lead">
                    <form action="{{ signedUrl }}" method="post">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-primary btn-lg">Réinitialiser le mot de passe</button> 
                    </form>
                </p>
                {# <p>Si vous n'avez pas demandé cette inscription, veuillez ignorer cet e-mail.</p> #}
            </div>
        </div>
    </body>
</html>