<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vérification de l'email</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid text-center">
                <h1>Snowtricks</h1>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron mt-5">
                <h1 class="display-4">Vérification de l'email</h1>
                <p class="lead">Merci de vous être inscrit sur notre site ! Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :</p>
                <hr class="my-4">
                <p class="lead">Pseudo : {{ user.username }}</p>
                <p class="lead">Email : {{ user.email }}</p>
                <p class="lead">
                    <form action="{{ signedUrl }}" method="post">
                        <input type="hidden" name="id" value="{{ user.id }}">
                        <button type="submit" class="btn btn-primary btn-lg">Vérifier mon adresse e-mail</button> 
                    </form>
                </p>
                <p>Si vous n'avez pas demandé cette inscription, veuillez ignorer cet e-mail.</p>
            </div>
        </div>
    </body>
</html>